/* 
	COLORS
*/

// BASE
$white : #FFFFFF;
$black : #000000;
$light-grey : #FAFAFA;

// PRIMARY
$primary-blue : #45CBE5;
$primary-purple : #150080;
$primary-orange : #FFC300;
$primary-yellow : #FFE500;
$primary-pink : #FFCCCC;

// SECONDARY
$secondary-blue : #61DAF2;
$secondary-purple : #553DCC;
$secondary-orange : #FFE100;
$secondary-yellow : #FFF700;
$secondary-pink : #FFE0E0;

// DARK
$dark-blue : #00B9DE;
$dark-purple : #0B0045;
$dark-orange : #FFAE00;
$dark-yellow : #FFCC00;
$dark-pink : #FFBABA;

// LIGHT
$light-blue : #B8EEF9;
$light-purple : #CAC2EF;
$light-yellow : #FFFCB3;

/* 
	FONT
*/
$base-rem: 1rem;

$base-font: 'Arial', sans-serif;
$secondary-font: 'Times New Roman', serif;
$base-paragraph: 1rem;
$base-title: 2rem;
$base-line-height: 2rem;

$large-title: 2.5rem;
$large-line-height: 2.5rem;

/* 
	BREAKPOINTS
*/

$mq-responsive: true;

$mq-breakpoints: (
	mq_s: 480px,
	mq_ss: 580px,
	mq_sm: 768px,
	mq_m: 1024px,
	mq_l: 1280px,
	mq_xl: 1440px,
	mq_xxl: 1920px
);

$mq-static-breakpoint: mq_m;

// $mq-show-breakpoints: (
// 	mq_s,
// 	mq_ss,
// 	mq_sm,
// 	mq_m,
// 	mq_l,
// 	mq_xl,
// 	mq_xxl
// );

