.button {
	cursor: pointer;
	border-radius: 4px;
	padding: 6px;
}


.button-back {
	
}

.button-next {

}


button:disabled,
button[disabled]{
	visibility: hidden;
}

.exit-preview-btn {
	background-color: $primary-purple;
	border-radius: 100px;
	padding: 16px 32px;
	top: 96px;
	left: 16px;
	position: fixed;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
	a {
		color: $white;
		text-decoration: none;
	}
}

.button-answer {
	color: $white;
	padding: 12px 32px;
}

.button-home {
	background-color: $white;
	color: $black;
	padding: 16px;
	margin-bottom: 16px;
	border-radius: 4px;
	cursor: pointer;
	a {
		text-decoration: none;
		color: $black;
	}
}

.button-home-text {
	padding-right: 32px;
	span {
		font-weight: 700;
	}
	div {
		margin-top: 8px;
	}
}

