.slide-container {
	max-width: 100%;
	height: 100%;
	display: block;
}

.slide-card-container {
	max-width: 100vw;
	height: 100%;
	padding: 100px 24px 0px 24px;
	position: relative;
	@include mq($from: mq_sm) {
		width: 50%;
		margin: 0 auto;
		padding: 200px 24px 0px 24px;
	}
}

.carousel-slide {
	min-height: max-content !important;
	@include mq($from: mq_sm) {
		height: 100vh !important;
	}
}

.card-carousel {
	width: 100%;
	// height: 100vh;
	max-height: 100%;
	color: $black;
	cursor: pointer;
	a {
		text-decoration: none;
		color: $black;
		:active {
			color: $black;
		}
		:hover {
			color: $black;
		}
		:focus {
			color: $black;
		}
	}
}

.card-carousel-img {
	width: 100%;
	height: 200px;
	background-color: $primary-yellow;
	box-shadow: 0px 10px 30px -2px rgba(0, 0, 0, 0.15);
	border-radius: 16px;
	@include mq($from: mq_sm) {
		height: 500px;
	}	
	div {
		margin: 0 auto;
		@include mq($from: mq_sm) {
			width: 60%;
			margin: 0 auto !important;
		}	
	}
}

.card-carousel-text {
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 80px;
	min-height: 40vh;
	max-height: 60vh;
}

.card-carousel-title {
	font-size: $base-title;
	line-height: $base-line-height;
	margin-top: 24px;
	margin-bottom: 8px;
	@include mq($from: mq_sm) {
		font-size: $large-title;
		line-height: $large-line-height;
	}
}

.card-carousel-subtitle {
	font-size: 20px;
	@include mq($from: mq_sm) {
		font-size: $base-title;
	}
}

.slide-control-container-top {
	max-width: 100%;
	padding: 80px 24px;
	margin-top: 48px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	@include mq($from: mq_sm) {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}

.slide-control-container-bottom {
	max-width: 100%;
	padding: 16px 24px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $white;
	@include mq($from: mq_sm) {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}

.slide-control-bar {
	width: 75%;
	top: -16px;
	position: relative;
}




