.checkbox {
    width: 80px;
    height: 60px;
    display: grid;
    place-items: center center;
    cursor: pointer;
	position: relative;

    .checkbox-container {
        height: 40px;
        width: 40px;
        border-radius: 35%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        display: grid;
        place-items: center center;

        &--front {
            overflow: hidden;
        }

        &--back {
            border: $black solid 3px;
        }
    }

    .checkmark {
        fill: none;
        position: relative;
        padding-left: 1.6rem;
        padding-bottom: .7rem;

        path {
            stroke-width: 35;
            stroke-linecap: round;
        }

        &--front {
            path {
                stroke: $white;
            }
        }

        &--back {
            path {
                stroke: $black;
            }
        }
    }

    .lines-container {
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: rotate(-33deg);
        border-radius: 50%;
        position: absolute;
        top: 0rem;
        right: -.5rem;
    }

    .line {
        height: 2px;
        width: 13px;
        background: $black;
        border-radius: 50%;
        transform-origin: left;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        margin-left: 2.5rem;

        &--1 {
            transform: rotate(-25deg);
        }

        &--3 {
            transform: rotate(25deg);
        }
    }
}


