.dropdown-container {
	position: relative;
}

.dropdown {
	background: $light-yellow;
	border-radius: 8px;
	position: absolute;
	top: 30px;
	left: 0;
	width: 300px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);
	transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
	z-index: 999;
}

.dropdown.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	z-index: 999;
}

.dropdown ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.dropdown li {
	border-bottom: 1px solid #dddddd;
}

.dropdown li a {
	text-decoration: none;
	color: $black;
	padding: 15px 20px;
	display: block;
}

.dropdown-trigger {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 6px;
	border: none;
	vertical-align: middle;
	transition: box-shadow 0.4s ease;
	z-index: 999;
	span {
		font-weight: 700;
		vertical-align: middle;
		font-size: $base-paragraph;
		margin: 0 10px;
	}
	div {
		border-radius: 4px;
	}
	button {
		margin: 0 auto;
	}
}

.dropdown-trigger:hover {
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}




