.icon {
    display: inline-flex;
    vertical-align: middle;
	padding: 2px;
}

.icon-s {
	width: $base-rem * 1;
	height: $base-rem * 1;
}

.icon-m {
	width: $base-rem * 1.5;
	height: $base-rem * 1.5;
}

.icon-l {
	width: $base-rem * 2;
	height: $base-rem * 2;
}



