.body-image-gallery {
	margin-top: 32px;
	margin-bottom: 64px;
}

.image-gallery-carousel {
	height: 500px;
}

.image-gallery-slider {
	height: 500px;
}

.image-gallery-slide {
	width: 100% !important;
	height: 460px !important;
	position: relative;
	display: inline-block !important;
	background-position: center;
}

.image-gallery-controls {
	top: -55%;
}

.image-gallery-btn-back {
	margin-left: -8px;	
	@include mq($from: mq_sm) {
		margin-left: -20px;	
	}
}

.image-gallery-btn-next {
	margin-right: -8px;
	@include mq($from: mq_sm) {
		margin-right: -20px;
	}
}

.carousel__dot-group {

}

.carousel__dot {
	width: 24px;
	height: 4px;
	background-color:#DADADA;
	border-radius: 100px;
	transition: 200ms ease-out;
	margin: 0px 4px;
}

.carousel__dot--selected {
	background-color: $primary-yellow !important;
	visibility: visible !important;
	transition: 200ms ease-out;
}


