.block-img {
    img {
        width: 100%;
        height: auto;
    }
}

.img-background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.alt-image-text {
	margin: 8px 0px;
	color: #9f9f9f;
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
}

