.lightbox-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 66.66%;
    cursor: zoom-in;
    margin: 50px 0;
}

.lightbox-container.open {
    cursor: zoom-out;
}

.lightbox-container .shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
	z-index: 10001;
    background: rgba(0, 0, 0, 0.9);
}

.lightbox-container.open .shade {
    pointer-events: auto;
    opacity: 1;
}

.lightbox-container img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	max-width: 100%;
    height: 100%;
	margin: 0 auto;
	object-fit: cover;
}

.lightbox-container.open img {
    position: fixed;
    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
    margin: auto;
	z-index: 10002;
}



