.progress-container {
	background-color: $white;
	width: 100vw;
	position: fixed;
	z-index: 9999;
}

.progress-container-inner {
	padding: 6px 24px;
}

.progress-bar {
	@extend .bg-l-grey;
	height: 4px;
	max-width: 100%;
	border-radius: 100px;
	@include mq($from: mq_sm) {
		width: 900px;
		margin: 0 auto;
	}
}

.progress-bar-tooltip {
	position: absolute;
	right: 0;
	top: 16px;
	min-width: max-content;
	padding: 4px 8px;
	background-color: $dark-yellow;
	border-radius: 4px;
}

.progress-fill-page {
	@extend .bg-d-yellow;
	height: 100%;
	border-radius: 100px;
}

.progress-fill-carousel {
	@extend .bg-black;
	height: 100%;
	border-radius: 100px;
}



