.body-quote {
	text-align: center;
	margin: 96px 0px;
}

.quote-text {
	font-style: italic;
	font-size: $large-title;
}

.quote-author {
	font-size: $base-paragraph;
	font-family: 'Times New Roman', Times, serif;
	margin: 16px 0px;
	display: block;
}

