.body-text {
	a {
		color: $primary-blue;
		&:after {
			content: "";
			display: inline-block;
			background: url("../../public/images/launch.png") no-repeat;
			width: 24px;
			height: 24px;
			padding-top: -4px;
		}
		&:hover {
			color: $dark-blue;
		}
	}
	p {
		margin-bottom: 48px;
		@include mq($from: mq_sm) {
			line-height: $base-line-height + 0.2rem;
			font-size: $base-paragraph + 0.15rem;
			margin-left: 3rem;
		}
	}
	h1 {
		margin-bottom: 16px;
		color: $dark-yellow;
	}
	h2 {
		margin-bottom: 8px;
	}
	ol, ul {
		line-height: $base-line-height + 0.2rem;
		font-size: $base-paragraph + 0.15rem;
		margin: 0;
		padding-left: 16px;
		@include mq($from: mq_sm) {
			padding-left: 64px;
		}
		li {
			margin-bottom: 24px;
			padding-left: 12px;
			&::marker {
				font-weight: bold;
			}
		}
	}
}

.text-center {
	text-align: center;
}


