
// LIGHT COLORS
.bg-l-yellow {
	background-color: $light-yellow;
}


.bg-l-grey {
	background-color: $light-grey;
}

// DARK COLORS
.bg-d-yellow {
	background-color: $dark-yellow;
}


// BASE COLORS
.bg-black {
	background-color: $black;
}

// PRIMARY COLORS
.bg-yellow {
	background-color: $primary-yellow;
}

.bg-blue {
	background-color: $primary-blue;
}

.bg-pink {
	background-color: $primary-pink;
}

.bg-purple {
	background-color: $primary-purple;
}



