body {
	font-family: $base-font;
}

p {
	line-height: $base-line-height + 0.2rem;
	font-size: $base-paragraph + 0.15rem;
	margin: 0;
}

h1 {
	font-size: $base-title;
	line-height: $base-line-height;
	margin: 0;
}

h2 {
	font-size: $base-title - 0.5rem;
	line-height: $base-line-height;
	margin: 0;
}

em {
	font-style: italic;
	line-height: $base-line-height + 0.2rem;
	font-size: $base-paragraph + 0.15rem;
}

pre {
	width: 100vw;
	word-wrap: break-word;
}

