button {
    -webkit-appearance: none !important;
    writing-mode: none !important;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;

    &:hover {
        cursor: pointer;
    }
    &:disabled {
        cursor: not-allowed;
        pointer-events: all !important;
    }
}

.visibility-hidden {
	visibility: hidden;
}

.visibility-block {
	visibility: visible;
}

.slide-in {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: #066bb8;
	transform-origin: left;
}

.slide-out {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: #066bb8;
	transform-origin: right;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}


.z-index {
	z-index: 10000;
}

.mb-off {
	visibility: hidden;
	@include mq($from: mq_sm) {
		visibility: visible;
	}
}

.mb-on {
	visibility: visible;
	@include mq($from: mq_sm) {
		visibility: hidden;
	}
}
