.container {
	background-color: $white;
	border-radius: 4px;
	padding: 32px 24px;
	max-width: 100%;
	position: relative;
	margin-top: -100px;
	@include mq($from: mq_sm) {
		max-width: 1280px;
		margin: 0 auto;
		margin-top: -100px;
		padding: 64px 32px;
	}
}

.container-outer {
	margin: 0 auto;
}

.container-inner {
	max-width: 100%;
	margin: 0 auto;
	@include mq($from: mq_sm) {
		max-width: 696px;
	}
}

.container-sidebar {
	display: none;
	@include mq($from: mq_sm) {
		display: block;
	}
}

.container-nextpage {
	background-color: $white;
	border-radius: 4px;
	padding: 32px 24px;
	max-width: 100%;
	position: relative;
	@include mq($from: mq_sm) {
		max-width: 1280px;
		margin: 0 auto;
		padding: 64px 32px;
	}
}

#box-test {
	width: 100vw;
	height: 100vh;
	background-color: $primary-purple;
}



