.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.flex-between {
	justify-content: space-between;
}

.align-middle {
	align-items: center;
}

.content-center {
	align-content: center;
}

.self-center {
	align-self: center;
}

.justify-center {
	justify-content: center;
}





