.header {
	max-width: 100%;
}

.header-inner {
	padding: 128px 24px 32px 24px;
	max-width: 100%;
	@include mq($from: mq_sm) {
		max-width: 950px;
		margin: 0 auto;
		padding: 128px 32px 64px 32px;
	}
}

.header-title {
	margin-top: 16px;
	margin-bottom: 128px;
	@include mq($from: mq_sm) {
		font-size: $large-title;
		line-height: $large-line-height;
	}
}

.header-description {
	font-weight: 400;
	margin-top: 8px;
}

.reading-time {
	font-family: $secondary-font;
	font-style: italic;
	color: $dark-yellow;
	margin-bottom: 24px;
}



