.main-home {
	padding: 128px 16px;
}

.container-home-outer {
	width: 100%;
	height: 100%;
	margin: 32px 0px;
	@include mq($from: mq_sm) {
		height: 50vh;
		margin: 128px 0px;
	}
}

.container-home {
	max-width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 32px;
	@include mq($from: mq_sm) {
		max-width: 1360px;
		margin: 0 auto;
		flex-direction: row;
		padding-left: 32px;
		padding-right: 32px;
	}
}

.container-home-text-block {
	display: flex;
	flex-direction: column;

	@include mq($from: mq_sm) {
		align-self: center;
	}
}

.img-home {
	display: block;
	width: 100%;
	height: auto;

}

.home-title {
	margin-bottom: 64px;
	@include mq($from: mq_sm) {
		font-size: $large-title;
		line-height: $large-line-height;
	}
}



