.main-nav-container {
	max-width: 100%;
	height: 64px;
	padding: 0 24px;
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	@include mq($from: mq_sm) {
		max-width: 1280px;
	}
}

.main-nav-inner {
	position: relative;
}

.main-logo {
	margin: 32px 0px 32px 0px;
}

