.page-nav-container {
	width: 100vw;
	height: 64px;
	margin-bottom: 16px;
}

.page-nav-inner {
	max-width: 100%;
	height: 64px;
	position: relative;
	padding: 0 24px;
	@include mq($from: mq_sm) {
		max-width: 950px;
		margin: 0 auto;
	}
}



