.question-container {
	max-width: 100%;
}

.question-container-inner {
	max-width: 100%;
	height: 100%;
	padding: 64px 24px;
	@include mq($from: mq_sm) {
		max-width: 600px;
		margin: 0 auto;
	}
}

.question-answer {

}

.question-text {

}

.question-choice-container {
	padding: 32px 0px;
}

.question-card {
	background-color: $white;
	border-radius: 16px;
	padding: 24px 32px;
}




